.footer {
  text-align: center;
  padding: 20px 0 100px;
}
.footerRights {
  margin: 40px 0 100px;
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 19px;
}
.socialLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.socialLinksInner {
  margin-right: 15px;
}
@media screen and (max-width: 500px) {
  .footer {
    padding: 20px 0 60px;
  }
  .footerRights {
    margin: 30px 0 60px;
  }
}
